- let lista = ['1 Lb de papa', 'Cilantro', 'Coca Cola'];
- let objeto = {id:123, nombre:"Jaime", edad:28, Apellido:"Lopez"};
- let nombre= "Jaime";
- let apellido = "<i>Lopez</i>";
- let usuario = {tipo:"Jefe", nombre: "Jaime"};
- let ruta = [{nombre:"Caja 1", color:"purple"},{nombre:"Jaime", color:"Steelblue"}]